*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body {background-color:beige;
}
.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 7rem; 

}
.container{
  margin-top: 5px;
  background-color: white;
  border-top-right-radius: 15px;
  height: 60vh;
  display: flex;
  border-style:none;
  border-width:1px;
  border-radius: 15px;

  /* margin-top: 7rem; */
  /* margin-left:5rem;  */
}
.left-side{
  
  flex-direction: column;
}
 .desktop{
  height: 60vh;
  width: 21vw;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}
.right-side{
  
  padding:1rem 1rem 1rem 2rem;
  width: 20vw;
  margin-bottom: 20px;
}
.font-top{
  color:grey;
  text-transform:uppercase;
  font-family: 'fantasy';
  font-size: smaller;
  padding-bottom: 1rem;
}
.span-one{ 
  
  padding:0 20px 5px 0;
  font-size:1.5rem;
  font-weight: 500;
  font-style:initial;

  font-family:ubantu;

}
p {
  padding-top:1rem;
  color: rgb(170, 168, 168);
   font-family: 'Noto Sans Mono', monospace;
  font-weight: 100;
}
.bottom{
  padding:6px;
  display:flex;
  flex-direction: row;
  justify-content:left;

}
.span-two{
  padding-top: 1rem;
  font-size:1.8rem;
  font-weight: 500;
  font-style:initial;
  color:darkgreen ;
  font-family: 'ubantu';
}
.dolor{
  padding-top: 1rem;
  font-size: smaller;
  margin-top: 8px;
  margin-left: 1rem;
  color:rgb(170, 168, 168) ;
}
 button{
  margin-top: 2rem;
  background-color:rgb(4, 86, 53);
  color:azure;
  height: 2.5rem;
  width:13rem;
  border-radius:10px ;
  border-style: none;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 @media only screen and (min-width:1025px){
  .mobile{
    display:none !important ;
   
   
    
  }
 }
 @media only screen and (max-width:1026px){
  .desktop{
    display: none!important;
  }
 }
 .mobile{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
 }
 
 @media (max-width:768px){
  .main-div{
    margin: 1rem 2rem 0 1rem;
    border-radius: 15px;
    width:190vw;
    height:180vh;
  
  }
  .container{
    
    display:flex ;
    flex-direction:column;
    justify-content: center;
    background-color: white;
    height: 170vh; 
    width:185vw;
    border-radius: 20px;
    
   
    
  }
  .right-side{
    padding-top: 5px;
    padding-left: 3rem;
    width: 100vw;
    /* padding-left: 5rem; */
  }
  .font-top{
    padding-bottom:5px;
    font-size: 2rem;
  }
  .span-one{
    font-size: 3rem;
  }
  p{
   font-size: 27px;
   text-align:left;
  }
  .span-two{
    padding-top:5px;
    font-size: 4rem;
  }
  .dolor{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  button{
    margin-top: 10px;
    margin-left: 3rem;
    height: 5rem;
    width: 30rem;
    font-size: 1.5rem;
  }
 }
